.container_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  .container_form_city {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    input {
      width: 32.5%;
      margin-right: 10px;
      margin-left: 10px;
      @media (min-width: $app-tablet) {
        width: 34%;
      }
    }
    input:focus {
      outline: none;
    }
  }
  input {
    width: 70%;
    margin-top: 40px;
    border: none;
    border-bottom: 1px solid $font-family-title-color;
    background-color: $app-bg-color;
    color: $font-family-title-color;
  }
  input:focus {
    outline: none;
  }
  div {
    display: flex;
    justify-content: center;
    width: 84%;
  }
  .primary-button {
    margin-top: 30px;
  }
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}
