.degustation-profile-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.degustation-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin: 0 auto 5% auto;
  }

  p {
    width: 70%;
    margin: auto;
    text-align: center;
  }
}

.assemblez-vin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 5% auto 5% auto;
    color: $app-primary-font-color;
  }

  img {
    width: 200px;
    height: 160px;
    border-radius: 8px;
  }
}

.selection-vin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 5% auto 5% auto;
    color: $app-primary-font-color;
  }

  img {
    width: 200px;
    height: 160px;
    border-radius: 8px;
  }
}

h4 {
  text-align: center;
  margin: 5% auto 0% auto;
  color: $font-family-title-color;
  font-weight: lighter;
  font-size: small;
}

.button-deg {
  text-align: center;
  margin: 5% auto 5% auto;

  Button {
    width: 12rem;
  }
}
