.DegustationPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .taste-slider-main-ctn {
    width: 75%;
  }

  .btn-navigate {
    margin-top: 3rem;
  }
}

@media screen and (min-width: $app-tablet) {
  .DegustationPage {
    .taste-slider-main-ctn {
      width: 57%;
    }
  }
}

@media screen and (min-width: $app-desktop) {
  .DegustationPage {
    .taste-slider-main-ctn {
      width: 40%;
    }
  }
}
