.workshop {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-page-workshop {
    width: 12rem;
    text-align: center;
  }

  .workshopGuide {
    font-size: 20px;
  }

  .name-level-cepage {
    display: flex;
  flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
  }

  .name-cepage-title {
    text-align: left !important;
  }

  .cepage-level-container {
    width: 70%;
  }

  .cepageAndDosage {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }

  .workShopList {
    list-style-type: none
  }

  .title-guide-ctn {
    margin-top: 5rem;
  }

  .guide-ctn {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 75%;
    margin-top: 1rem;

    .img-guide {
      width: 18rem;
      margin-top: 5vh;
      margin-bottom: 3vh;
    }

    .content-guide-ctn {
      li {
        color: white;
        margin-bottom: 1rem;
      }
    }
  }

  .btn-workshop {
    margin-top: 2rem;
  }
}

@media screen and (min-width: $app-tablet) {
  .workshop {
    .cepage-level-container {
      width: 50%;
    }

    .cepageAndDosage {
      width: 50%;
    }

    .guide-ctn {
      width: 58%;
    }
  }
}

@media screen and (min-width: $app-desktop) {
  .workshop {
    width: 70%;
    margin: auto;

    .guide-ctn {
      .img-guide {
        width: 30rem;
      }
    }

    .title-page-workshop {
      width: 22rem;
    }
  }
}
