.display-wine-container-for-admin {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;

  .wine-and-origin {
    width: 11rem;
    p {
      margin: 0.25rem 0;
    }
  }

  .date-and-icons-delete-modif {
    .buttons-modif-and-delete {
      display: none;
    }
  }
}

@media screen and (min-width: $app-tablet) {
  .display-wine-container-for-admin {
    .wine-and-origin {
      display: flex;
      width: 26rem;
      p {
        width: 13rem;
      }
    }

    .date-and-icons-delete-modif {
      display: flex;
      .buttons-modif-and-delete {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;

        img {
          width: 29px;
          height: 29px;
          margin-left: 1rem;
        }
      }
    }
  }
}
