.wine-desciption-user-container {
  .modif-title-wine {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .button-modif-and-pic-wine-bottle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .button-modif-and-wine-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 2rem;
  }

  .buttons-delete-and-back {
    text-align: center;
  }
}

@media screen and (min-width: $app-tablet) {
  .wine-desciption-user-container {
    padding-bottom: 2rem;
    .button-modif-and-wine-description {
      padding-top: 0;
    }
  }

  .buttons-delete-and-back {
    .primary-button {
      margin: 0 1.25rem;
    }
  }
}
