@import "./assets/styles/variable";

@import "./assets/styles/pages/homePage.scss";
@import "./assets/styles/pages/workshop.scss";
@import "./assets/styles/pages/reviewsPage.scss";
@import "./assets/styles/pages/degustationPage.scss";
@import "./assets/styles/pages/login";

@import "./assets/styles/components/navbar.scss";
@import "./assets/styles/components/burgerMenu.scss";
@import "./assets/styles/components/signUp.scss";
@import "./assets/styles/components/inputPassword";
@import "./assets/styles/components/inputEmail";
@import "./assets/styles/pages/degustation-profile";
@import "./assets/styles/pages/leagalNotice";
@import "./assets/styles/components/sliderUser.scss";
@import "./assets/styles/components/cardWine";
@import "./assets/styles/pages/wineSelection";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $app-primary-font;
}

main {
  margin-top: 80px;
}

body {
  line-height: 1.5;
  background-color: $app-bg-color;
}

h1 {
  font-family: $font-family-title;
}

h2 {
  @include font-title-phone;
}

h3 {
  @include font-subheading-phone;
}

p {
  @include font-text-phone;
}

/* button */
.primary-button {
  @include primary-button-phone;
}

/* search bar */
.search-bar-phone {
  @include search-bar(10rem, 3rem, $font-size-text-phone);
}

.search-bar-tablet-desktop {
  @include search-bar(19rem, 3rem, $font-size-text-tablet);
}

@media screen and (min-width: $app-tablet) and (max-width: $app-desktop) {
  h2 {
    @include font-title-tablet;
  }

  h3 {
    @include font-subheading-tablet;
  }

  p {
    @include font-text-tablet-desktop;
  }

  .primary-button {
    @include primary-button-tablet;
  }
}

@media screen and (min-width: $app-desktop) {
  h2 {
    @include font-title-desktop;
  }

  h3 {
    @include font-subheading-desktop;
  }

  p {
    @include font-text-tablet-desktop;
  }

  .primary-button {
    @include primary-button-desktop;
  }
}
