@import "./assets/styles/variable";
@import "./assets/styles/components/navbar.scss";
@import "./assets/styles/components/burgerMenu.scss";
@import "./assets/styles/components/signup.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $app-primary-font;
}

body {
  line-height: 1.5;
  background-color: $app-bg-color;
}

h1 {
  font-family: $font-family-title;
}

h2 {
  @include font-title-phone;
}

h3 {
  @include font-subheading-phone;
}

p {
  @include font-text-phone;
}

/* button */
.primary-button-phone {
  @include primary-button-phone;
}

.primary-button-tablet {
  @include primary-button-tablet;
}

.primary-button-desktop {
  @include primary-button-desktop;
}

/* search bar */
.search-bar-phone {
  @include search-bar(10rem, 3rem, $font-size-text-phone);
}

.search-bar-tablet-desktop {
  @include search-bar(19rem, 3rem, $font-size-text-tablet);
}

@media screen and (min-width: $app-tablet) and (max-width: $app-desktop) {
  h2 {
    @include font-title-tablet;
  }

  h3 {
    @include font-subheading-tablet;
  }

  p {
    @include font-text-tablet-desktop;
  }
}

@media screen and (min-width: $app-desktop) {
  h2 {
    @include font-title-desktop;
  }

  h3 {
    @include font-subheading-desktop;
  }

  p {
    @include font-text-tablet-desktop;
  }
}
